<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="django handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\DLW\VM5sourcecode170720\dlw_source_24_09_19\dev\Scripts\python.exe|C:\DLW\VM5sourcecode170720\dlw_source_24_09_19\dev\Lib\site-packages\wfastcgi.py" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
