{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static '/css/jquery-ui.css' %}"  />
    
</head>
<style>
    .page-content {
        min-height: 100%;
        margin-bottom: -40px;
    }
    
    .page-content::after {
        content: "";
        display: block;
    }
    
    footer,
    .page-content::after {
        height: 40px;
        position:relative;
        clear:both;
    }

</style>
<body style="background-color: antiquewhite;">
    <div class="page-content">
    <form method="POST">
        {% csrf_token %}
        
        <center>
            <br>
            <H1> LOGIN </H1>
            <br><br><br><br><br>
            <div style="width: 600px; " style="right: 500px; top:600px;" >
                <input type="text" id='userid' name='userid' placeholder="Username" style="width: 300px" class="form-control">
                <br>
                <input type="password" id='passw' name="passw" placeholder='Password' style="width: 300px;" class="form-control">
                <br>
                <input type="submit" name="submit" value="LOGIN" style="width: 75px;" style="background-color: brown;" class="form-control">
                <br>
                <br>
                <a href="/rental_register">Register Now</a>
            </div>
        </center>
    </form>
    </div>
    

</body>
</html>