{% load static%}
<link rel="stylesheet" type="text/css" href="{% static '/css/side-bar.css' %}"  />
<div id="sidebar-wrapper" class="bg-dark">
    <ul class="sidebar-nav font-weight-bold" style="font-size: 20px;">
      <!-- <li><a href="/shed_dashboard">Dashboard</a></li> -->
      <!-- <li ><a href="/warranty_lodge">Fill New Warranty Lodge</a></li> -->

      <!-- <li><a href="{% url 'shed_dashboard' 'pending' %}">Cases Pending at Vendor level </a></li>
      <li><a href="{% url 'shed_dashboard' 'verify' %}">Final Verification Cases</a></li>
      <li><a href="{% url 'shed_dashboard' 'upload' %}">Upload JIR</a></li>
      <li><a href="{% url 'shed_dashboard' 'closed_cases' %}">Closed Cases</a></li>
      <li><a href="/zr_upload_dem">Upload Overhaul Demand</a></li>
      <li ><a href="/zr_download_dem">Download Uploaded Demand</a></li>
      <li ><a href="/zr_vetted_dem">Upload Vetted Demand</a></li>
      <li ><a href="/zr_clarify">Online Clarification</a></li>
       -->
       
       
       <li ><a href="/display">  Display </a></li> 
       <li ><a href="/registration">  Register Product </a></li> 
       <li ><a href="/upcoming">  Upcoming Product </a></li> 


    </ul>
  </div>