{% load static%}
<link rel="stylesheet" type="text/css" href="{% static '/css/side-bar.css' %}"  />
<div id="sidebar-wrapper" class="bg-dark">
    <ul class="sidebar-nav font-weight-bold" style="font-size: 20px;">
      <li><a href="/showitemdetail/0000/None">All Items</a></li>
      <li><a href="/showitemdetail/0000/None">Filter</a></li>
      {% if user %}
      <li><a href="{% url 'history_cust' user %}"> My Account</a></li>
      {% endif %}
      <li><a href="{% url 'feedback' %}">Feedback</a></li>
    </ul>
  </div>